<template>
  <header>
    <button @click="toggleMenu"><i class="fas fa-bars" /> Menu</button>
    <nav :class="{ active: menuToggled }">
      <span>Find TASBot on</span>
      <ul>
        <li>
          <a
            href="https://www.youtube.com/dwangoac"
            target="_blank"
            rel="noopener"
            ><i class="fab fa-youtube" /> YouTube</a
          >
        </li>
        <li>
          <a
            href="https://www.twitch.tv/dwangoac"
            target="_blank"
            rel="noopener"
            ><i class="fab fa-twitch" /> Twitch</a
          >
        </li>
        <li>
          <a
            href="https://www.patreon.com/dwangoac"
            target="_blank"
            rel="noopener"
            ><i class="fab fa-patreon" /> Patreon</a
          >
        </li>
        <li>
          <a href="https://twitter.com/MrTASBot" target="_blank" rel="noopener"
            ><i class="fab fa-twitter" /> Twitter</a
          >
        </li>
        <li>
          <a href="http://discord.tas.bot" target="_blank" rel="noopener"
            ><i class="fab fa-discord" /> Discord</a
          >
        </li>
        <li>
          <a
            href="http://tasvideos.org/TASBot.html"
            target="_blank"
            rel="noopener"
            ><i class="fas fa-external-link-alt" /> TASVideos</a
          >
        </li>
        <li>
          <a
            href="https://gdqvods.com/category/tool-assisted-speedruns/"
            target="_blank"
            rel="noopener"
            ><i class="far fa-play-circle" /> GDQVods</a
          >
        </li>
        <li>
          <a href="https://store.tas.bot/" target="_blank" rel="noopener"
            ><i class="fa fa-shopping-bag" /> Store</a
          >
        </li>
        <li>
          <a href="https://runs.tas.bot/" target="_blank" rel="noopener"
            ><i class="fa fa-running" /> Runs</a
          >
        </li>
      </ul>
    </nav>
  </header>
</template>
<script>
import { ref } from "vue";
export default {
  setup() {
    const menuToggled = ref(false);
    const toggleMenu = () => {
      menuToggled.value = !menuToggled.value;
    };
    return { toggleMenu, menuToggled };
  },
};
</script>
<style lang="scss" scoped>
header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  button {
    display: none;
  }
  nav {
    @include scaledWidths;
    display: flex;
    justify-content: center;
    span {
      color: #fff;
      font-size: 1.25rem;
      align-self: center;
      white-space: nowrap;
    }
    ul {
      list-style: none;
      margin: 0 auto;
      display: flex;
      li {
        margin-right: 10px;
        box-sizing: border-box;
        a {
          display: block;
          padding: 1rem 0.5rem;
          color: #aaa;
          text-decoration: none;
          white-space: nowrap;
          &:hover {
            color: #ddd;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $breakpoint-lg) {
  header {
    flex-flow: column wrap;
    button {
      display: block;
      background: rgba(0, 0, 0, 0.5);
      color: rgba(255, 255, 255, 0.5);
      outline: 0;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      font-size: 1.25em;
      padding: 0.5rem 0.75rem;
      &:hover {
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
      }
    }
    nav {
      max-height: 0;
      overflow: hidden;
      flex-flow: column nowrap;
      transition: max-height 0.5s ease-out;
      span {
        align-self: flex-start;
        padding: 0 0.5rem;
      }
      ul {
        flex-flow: column nowrap;
        overflow: hidden;
        width: 100%;
        padding: 0.5rem;
        li {
          a {
            display: block;
            padding: 0.5rem 0.5rem;
            width: 100%;
            flex-basis: 100%;
          }
        }
      }
    }
    .active {
      max-height: 1000px;
      transition: max-height 0.5s ease-in;
    }
  }
}
</style>
