<template>
  <div
    :style="{ backgroundImage: `url(${thumbURL})` }"
    @mouseover="loadVideo"
    @click="playVideo"
    class="videoWrapper"
  >
    <iframe v-if="showVideo" :src="videoURL" allowfullscreen></iframe>
    <svg version="1.1" viewBox="0 0 68 48" v-if="!showVideo">
      <path
        class="button-bg"
        d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
        fill="#f00"
      ></path>
      <path d="M 45,24 27,14 27,34" fill="#fff"></path>
    </svg>
  </div>
</template>
<script>
// This component is made so the iframe is only loaded when the thumbnail is hovered/clicked on.
import { ref, toRefs, computed, onMounted } from "vue";

async function supportsWebp() {
  if (!self.createImageBitmap) return false;
  const webpData =
    "data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=";
  const blob = await fetch(webpData).then((r) => r.blob());
  return createImageBitmap(blob).then(
    () => true,
    () => false
  );
}

function addPrefetch(rel, href, as) {
  const linkEl = document.createElement("link");
  linkEl.rel = rel;
  linkEl.href = href;
  if (as) {
    linkEl.as = as;
  }
  document.head.append(linkEl);
}

export default {
  props: {
    videoID: String,
  },
  setup(props) {
    const videoLoaded = ref(false);
    const showVideo = ref(false);
    const useWebp = ref(false);
    const { videoID } = toRefs(props);
    onMounted(async () => (useWebp.value = await supportsWebp()));

    const videoURL = computed(
      () =>
        `https://www.youtube-nocookie.com/embed/${
          videoID.value
        }?rel=0&autoplay=${showVideo.value | 0}`
    );

    // Switch to higher quality WebP if possible
    const thumbURL = computed(() => {
      if (useWebp.value) {
        return `https://img.youtube.com/vi_webp/${videoID.value}/maxresdefault.webp`;
      } else {
        return `https://img.youtube.com/vi/${videoID.value}/default.jpg`;
      }
    });
    const loadVideo = () => {
      if (!videoLoaded.value) {
        addPrefetch("preconnect", "https://www.youtube-nocookie.com");
        addPrefetch("preconnect", "https://www.google.com");
      }
      videoLoaded.value = true;
    };
    const playVideo = () => {
      loadVideo();
      showVideo.value = true;
    };
    return { showVideo, thumbURL, videoURL, loadVideo, playVideo };
  },
};
</script>
<style lang="scss" scoped>
.videoWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background-size: 100% 100%;
  &:hover {
    cursor: pointer;
    .button-bg {
      fill: #f00;
      fill-opacity: 1;
    }
  }
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
svg {
  width: 68px;
  height: 48px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  .button-bg {
    fill: #212121;
    fill-opacity: 0.8;
    transition: fill 0.1s cubic-bezier(0.4, 0, 1, 1),
      fill-opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
  }
}
</style>
