body {
    margin: 0;
    padding: 0;
    font: 16px 'PT Sans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #303030;
    background: url('~@/assets/bg.png') repeat;
    color: #ddd;
}
