$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1140px;

@mixin scaledWidths {
    @media screen and (max-width: $breakpoint-sm) {
        & {
            max-width: 100%;
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        & {
            max-width: 540px;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        & {
            max-width: 720px;
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        & {
            max-width: 960px;
        }
    }

    @media screen and (min-width: $breakpoint-xl) {
        & {
            max-width: 1140px;
        }
    }
}
